# üìä Ï†ëÍ∑º Î°úÍ∑∏ Î∂ÑÏÑù ÎÖ∏Ìä∏Î∂Å

**Î∂ÑÏÑù ÎåÄÏÉÅ**: `suwon_outer` (ÏàòÏõêÏãú Ïô∏Î∂Ä Ìè¨ÌÑ∏ Ï†ëÍ∑º Î°úÍ∑∏)

---

## 1. ÌôòÍ≤Ω ÏÑ§Ï†ï

In [2]:
# ===== Autoreload ÏÑ§Ï†ï =====
%load_ext autoreload
%autoreload 2

# ===== Í∏∞Î≥∏ ÎùºÏù¥Î∏åÎü¨Î¶¨ =====
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# ===== DB Ïú†Ìã∏Î¶¨Ìã∞ =====
from db_utils import get_dataframe, list_databases, get_tables, preview, save_dataframe

# ===== ÏãúÍ∞ÅÌôî ÏÑ§Ï†ï (Robust Font Fix) =====
import matplotlib.font_manager as fm
import matplotlib as mpl

font_path = '/usr/share/fonts/noto/NotoSansCJKkr-Regular.otf'
if os.path.exists(font_path):
    # Ìè∞Ìä∏ Îì±Î°ù (Matplotlib 3.2+ Ìò∏Ìôò Î∞©Ïãù)
    fm.fontManager.addfont(font_path)
    prop = fm.FontProperties(fname=font_path)
    plt.rcParams['font.family'] = prop.get_name()
    print(f"Font successfully set to: {prop.get_name()}")
else:
    print("Warning: Font file not found. Falling back to default.")

plt.rcParams['axes.unicode_minus'] = False
sns.set_theme(style='whitegrid', font=plt.rcParams['font.family'])

# 1. Ìè∞Ìä∏ ÌååÏùº ÏßÅÏ†ë Îì±Î°ù
font_path = '/usr/share/fonts/noto/NotoSansCJKkr-Regular.otf'
if os.path.exists(font_path):
    fm.fontManager.addfont(font_path)
    font_name = fm.FontProperties(fname=font_path).get_name()
    plt.rc('font', family=font_name)
else:
    # ÎåÄÏ≤¥ Ìè∞Ìä∏ ÏÑ§Ï†ï
    plt.rc('font', family='Noto Sans CJK KR')

plt.rcParams['axes.unicode_minus'] = False
sns.set_theme(style='whitegrid', font=plt.rcParams['font.family'])


# ===== pandas Ï∂úÎ†• ÏÑ§Ï†ï =====
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

Font successfully set to: Noto Sans CJK KR

In [3]:
# ========================================
# üîß Ïù¥ ÏÖÄÎßå ÏàòÏ†ïÌïòÎ©¥ Îã§Î•∏ DBÎ°ú Ï†ÑÌôò Í∞ÄÎä•
# ========================================
DB_ALIAS = "suwon_portal"  # db_config.jsonÏóê Ï†ïÏùòÎêú DB Î≥ÑÏπ≠

# ÏÇ¨Ïö© Í∞ÄÎä•Ìïú DB Î™©Î°ù ÌôïÏù∏
list_databases()

============================================================
ÏÇ¨Ïö© Í∞ÄÎä•Ìïú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Î™©Î°ù
============================================================

üì¶ koroad_portal
   Ïú†Ìòï: postgresql
   DBÎ™Ö: da
   ÏÑ§Î™Ö: ÌïúÍµ≠ÎèÑÎ°úÍ≥µÏÇ¨ ÎÇ¥Î∂Ä Ìè¨ÌÑ∏ Ï†ëÍ∑º Î°úÍ∑∏ DB

üì¶ koroad_kiosk
   Ïú†Ìòï: mariadb
   DBÎ™Ö: koroad
   ÏÑ§Î™Ö: ÌïúÍµ≠ÎèÑÎ°úÍ≥µÏÇ¨ ÌÇ§Ïò§Ïä§ÌÅ¨ Ï†ëÍ∑º Î°úÍ∑∏ DB

üì¶ suwon_platform
   Ïú†Ìòï: postgresql
   DBÎ™Ö: suwon
   ÏÑ§Î™Ö: ÏàòÏõêÏãú ÎÇ¥Î∂Ä Ìè¨ÌÑ∏ Ï†ëÍ∑º Î°úÍ∑∏ DB

üì¶ suwon_portal
   Ïú†Ìòï: postgresql
   DBÎ™Ö: postgres
   ÏÑ§Î™Ö: ÏàòÏõêÏãú Ïô∏Î∂Ä Ìè¨ÌÑ∏ Ï†ëÍ∑º Î°úÍ∑∏ DB

============================================================

## 2. Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [4]:
# ÌÖåÏù¥Î∏î Î™©Î°ù ÌôïÏù∏
tables = get_tables(DB_ALIAS,schema='idp')
tables

/DATA/jupyter_WorkingDirectory/notebook/Access_Analysis/db_utils.py:243: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                                           table_name  table_type
0                                    cm_analysis_case  BASE TABLE
1                                      cm_attach_file  BASE TABLE
2                             cm_attaching_file_group  BASE TABLE
3                                   cm_board_category  BASE TABLE
4                                    cm_board_comment  BASE TABLE
5                                       cm_board_file  BASE TABLE
6                                     cm_board_master  BASE TABLE
7                                       cm_board_post  BASE TABLE
8                                      cm_data_source  BASE TABLE
9                                            cm_group  BASE TABLE
10                                            cm_menu  BASE TABLE
11                                     cm_menu_access  BASE TABLE
12                                       cm_menu_list  BASE TABLE
13                                    cm_popular_data  BASE TABLE
14                                           cm_popup  BASE TABLE
15                                    cm_related_site  BASE TABLE
16                                 cm_report_category  BASE TABLE
17                                     cm_report_file  BASE TABLE
18                                            cm_sgis  BASE TABLE
19                                      cm_statistics  BASE TABLE
20                                          cm_survey  BASE TABLE
21                                            cm_user  BASE TABLE
22                                      cm_user_field  BASE TABLE
23                                cm_user_field_value  BASE TABLE
24                                      cm_user_group  BASE TABLE
25                                         cm_user_vw        VIEW
26                            cm_visualization_status  BASE TABLE
27                                         dt_catalog  BASE TABLE
28                                         dt_concept  BASE TABLE
29                                  dt_concept_scheme  BASE TABLE
30                                     dt_dataservice  BASE TABLE
31                                         dt_dataset  BASE TABLE
32                                    dt_distribution  BASE TABLE
33                                             dt_job  BASE TABLE
34                                     dt_load_column  BASE TABLE
35                                      dt_load_table  BASE TABLE
36                                         dt_network  BASE TABLE
37                                    dt_organization  BASE TABLE
38                                        dt_resource  BASE TABLE
39                           dt_resource_collect_spec  BASE TABLE
40                                          dt_source  BASE TABLE
41                                      dt_test_table  BASE TABLE
42                                       map_category  BASE TABLE
43                                map_category_design  BASE TABLE
44                               map_category_tooltip  BASE TABLE
45                                map_category_visual  BASE TABLE
46                                           mn_admin  BASE TABLE
47                                           mn_group  BASE TABLE
48                                            mn_link  BASE TABLE
49                                       mn_log_audit  BASE TABLE
50                                      mn_log_client  BASE TABLE
51                                     mn_log_collect  BASE TABLE
52                                        mn_log_data  BASE TABLE
53                                        mn_log_user  BASE TABLE
54                                 mn_standard_domain  BASE TABLE
55                                   mn_standard_term  BASE TABLE
56                                   mn_standard_word  BASE TABLE
57                                    palm_garden_two  BASE TABLE
58                                            sc_tran  BASE TABLE
59                                      stat_dt_query  BASE TABLE
60                                       stat_dt_rule  BASE TABLE
61  suwon_all_population_and_one_person_household_...  BASE TABLE
62  suwon_city_all_population_and_household_summation  BASE TABLE
63          suwon_city_fire_fighting_fire_information  BASE TABLE
64                  suwon_city_statics_all_population  BASE TABLE
65                  suwon_city_statistics_budget_year  BASE TABLE
66                     suwon_city_statistics_land_two  BASE TABLE
67         suwon_city_statistics_local_tax_collection  BASE TABLE
68  suwon_civil_appeal_sudden_increase_key_word_up...  BASE TABLE
69                   suwon_event_festival_information  BASE TABLE
70  suwon_fire_fighting_emergency_rescue_informati...  BASE TABLE
71  suwon_inhabitants_computation_gu_according_to_...  BASE TABLE
72  whole_country_transportation_outbreak_information  BASE TABLE
73                                    yeosu_local_map  BASE TABLE

In [5]:
# ===== Îç∞Ïù¥ÌÑ∞ Î°úÎìú (ÏøºÎ¶¨ ÏàòÏ†ï) =====
query = """
SELECT *
FROM mn_log_audit

"""

df = get_dataframe(DB_ALIAS, query,schema='idp')
print(f"Î°úÎìúÎêú Îç∞Ïù¥ÌÑ∞: {df.shape[0]:,}Ìñâ x {df.shape[1]}Ïó¥")
df.head()
df['issued'] = pd.to_datetime(df['ins_dt'])

/DATA/jupyter_WorkingDirectory/notebook/Access_Analysis/db_utils.py:243: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql '
SELECT *
FROM mn_log_audit

': relation "mn_log_audit" does not exist
LINE 3: FROM mn_log_audit
             ^

## 3. Í∏∞Ï¥à ÌÉêÏÉâ (EDA)

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î∞è Í≤∞Ï∏°Ïπò ÌôïÏù∏
df.info()

In [ ]:
# Í∏∞Ïà†ÌÜµÍ≥ÑÎüâ
df.describe(include='all')

## 4. Î∂ÑÏÑù

In [ ]:
# Ïó¨Í∏∞Ïóê Î∂ÑÏÑù ÏΩîÎìú ÏûëÏÑ±

## 4. Ï†ëÏÜç ÏßÄÌëú (Proxy AU by IP)

In [ ]:
# ÏùºÏùº/Ï£ºÍ∞Ñ/ÏõîÍ∞Ñ Í≥†Ïú† IP Í∏∞Î∞ò ÌôúÎèôÏÑ± Í≥ÑÏÇ∞
df['date'] = df['issued'].dt.date
df['week'] = df['issued'].dt.to_period('W').apply(lambda r: r.start_time)

dip = df.groupby('date')['ip'].nunique()
wip = df.groupby('week')['ip'].nunique()

print(f"ÌèâÍ∑† ÏùºÏùº Í≥†Ïú† IP: {dip.mean():.1f}")
print(f"ÌèâÍ∑† Ï£ºÍ∞Ñ Í≥†Ïú† IP: {wip.mean():.1f}")

plt.figure(figsize=(15, 6))
plt.plot(dip.index, dip.values, label='Unique IP (Daily)', alpha=0.6)
plt.title('ÏàòÏõêÏãú Ïô∏Î∂Ä Ìè¨ÌÑ∏ Í≥†Ïú† IP Ï∂îÏÑ∏', fontsize=15)
plt.ylabel('Í≥†Ïú† IP Ïàò')
plt.show()

## 5. Ïù∏Í∏∞ ÏΩòÌÖêÏ∏† Î∞è Í≤ΩÎ°ú Î∂ÑÏÑù

In [ ]:
# Í∞ÄÏû• ÎßéÏù¥ Ï†ëÍ∑ºÌïú URL ÏÉÅÏúÑ 10Í∞ú
top_urls = df['url'].value_counts().head(10)

plt.figure(figsize=(12, 6))
sns.barplot(x=top_urls.values, y=top_urls.index, hue=top_urls.index, palette='viridis', legend=False)
plt.title('Ïô∏Î∂Ä Ìè¨ÌÑ∏ Ïù∏Í∏∞ ÌéòÏù¥ÏßÄ TOP 10', fontsize=15)
plt.xlabel('Ï†ëÍ∑º ÌöüÏàò')
plt.show()